<div class="text-center">
  <div id="content">
     <h1>名刺を社内で共有するアプリ<h1>
     <h4>「あの人はよかったのに...」<h4>
     <h4> 属人的な顧客管理で行き詰まっていませんか?</h4>
     <h4>お客様との良い関係を失わないために顧客情報を見える化します<h4>
  </div>
</div>
  
<div class="container">
  <div class="col-md-12">
  <div class="text-center">
    <h2>名刺管理アプリの特徴（未完成)</h2>
  </div><br>
  
  <div class="col-md-4">
   <h4><u>顧客管理を楽にするメモ機能</u></h4>
   <p>「あの人はよかったのに...」。お客様からそう思われたら挽回するのは大変です。メモ機能は一人一人のお客様に紐付けることができるので、「あのお客様とどんな約束をしているのか。どんなルールがあるのか。」そのような各担当者しか把握していない情報を社内に蓄積できます。社内の顧客情報を見える化することで、情報の属人化を防ぎスムーズな引き継ぎをサポートします。</p><br>
  </div>
  
  <div class="col-md-4">
   <h4><u>名刺探しの手間を減らす検索機能</u></h4>
   <p>紙の名刺を毎回一枚一枚めくりながら探すのは大変です。（社会人の交換した名刺の平均は1383枚。名刺を探す時間は年間20.5時間になるとの調査結果をSansan株式会社が発表しました）。 検索機能は、そんな社員の無駄な時間を減らし、他の大切な業務に取り組む時間を増やしてくれます。</p><br>
   </div>

   <div class="col-md-4">
   <h4><u>外出中にもさっと確認</u></h4>
   <p>外出中の急な面談や訪問。そんな時には名刺管理アプリをさっと開き、相手の情報を素早く確認。社員は準備を整えてお客様に会うことができます。また、紙の名刺を持ち歩く必要がなくなるので、外出中に大切な名刺を紛失するリスクを減らすことができます。</p>
  </div>
</div>
</div>
