<div class="text-center"><h2>名刺編集</h2></div>
<br>

<%= render 'form' %>

<%= link_to '詳細画面に戻る', company_group_user_name_card_path(@company, @group, @user, @name_card), class:'btn btn-primary' %> 
<%= link_to '名刺一覧に戻る', company_group_user_name_cards_path, class:'btn btn-primary' %>
